<template>
  <div id="app">
    <div id="nav">
      CMDB grafikus megjelenítő felület
    </div>
    <router-view id="view" />
  </div>
</template>

<style>
html,
body {
  height: 100%;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav {
  height: 46px;
  padding: 10px;
  text-align: left;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#view {
  display: flex;
  flex-grow: 1;
}
</style>
