<template>
  <b-table small striped :items="ciDetails" :fields="fields"></b-table>
</template>

<script>
import store from "@/store";

export default {
  name: "CiDetails",
  data() {
    return {
      fields: [
        { key: "0", label: "Property" },
        { key: "1", label: "Value" }
      ]
    };
  },
  computed: {
    ciDetails() {
      return store.$state.ciDetails;
    }
  }
};
</script>
<style></style>
