<template>
  <div id="cyto" ref="cytoscape"></div>
</template>

<script>
import cytoscape from "cytoscape";
import dagre from "cytoscape-dagre";
import cmdb from "@/mixins/cmdb";
import store from "@/store";

cytoscape.use(dagre);

export default {
  name: "Graph",
  mixins: [cmdb],
  methods: {
    renderView() {
      const cy = cytoscape({
        container: document.getElementById("cyto"), //this.$refs.cytoscape,
        elements: this.elements,
        style: cytoscape
          .stylesheet()
          .selector("node")
          .css({
            width: "7em",
            height: "1.8em",
            shape: "round-rectangle",
            "background-color": "#dde0a0",
            color: "#202015",
            label: "data(name)",
            "text-halign": "center",
            "text-valign": "center",
            "font-size": "1em",
            "background-fit": "cover"
          })
          .selector("node:selected")
          .css({
            "background-color": "#A9A98C",
            color: "#050505"
          })
          .selector("edge")
          .css({
            width: 1,
            "font-size": ".8em",
            label: "data(type)",
            color: "#203035",
            "line-color": "#899",
            "curve-style": "straight",
            "target-arrow-color": "#899",
            "target-arrow-shape": "triangle",
            "arrow-scale": 1
          })
          .selector("node[type='Computer']")
          .css({
            "background-image": "assets/computer-svgrepo-com.svg"
          }),
        layout: {
          name: "dagre"
        }
      });

      cy.ready(() => {});

      cy.unbind("tap");
      cy.bind("select", event => {
        store.$actions.selectCiId(event.target.data("id"));
      });
      cy.bind("unselect", () => {
        store.$actions.unselectCiId();
      });
    }
  },
  computed: {
    elements() {
      return store.$state.elements;
    },
    selectedId() {
      return store.$state.ciDetails.id;
    }
  },
  watch: {
    selectedId(newValue, oldValue) {
      if (oldValue !== newValue) {
        console.log(this.$refs.cytoscape);
        this.$refs.cytoscape.$(newValue).select();
      }
    }
  },
  mounted() {
    this.renderView();
  }
};
</script>

<style>
#cyto {
  height: 100%;
  text-align: initial;
}
</style>
