<template>
  <b-tree-view
    :data="treeData"
    :contextMenu="false"
    @mounted="expand"
    @nodeSelect="selected" />
</template>
<script>
import { bTreeView } from "bootstrap-vue-treeview";
import store from "@/store";

export default {
  name: "Navigator",
  components: { bTreeView },
  computed: {
    treeData() {
      return store.$state.navTree;
    }
  },
  methods: {
    expand(event) {
      event.target.expand();
      console.log("expand");
    },
    selected(object, isSelected) {
      if (isSelected) {
        store.$actions.selectCiId(object.data.id);
      } else {
        store.$actions.unselectCiId();
      }
    }
  }
};
</script>
