<template>
  <div>
    <splitpanes class="default-theme">
      <pane size="28">
        <splitpanes horizontal>
          <pane size="45">
            <div class="navigator">
              <Navigator />
            </div>
          </pane>
          <pane size="55">
            <div class="props">
              <CiDetails />
            </div>
          </pane>
        </splitpanes>
      </pane>
      <pane size="72" id="graph-pane">
        <div class="graph">
          <Graph />
        </div>
        <div class="footer"></div>
      </pane>
    </splitpanes>
  </div>
</template>

<script>
import { Splitpanes, Pane } from "splitpanes";
import Graph from "@/components/Graph.vue";
import CiDetails from "@/components/CiDetails";
import Navigator from "@/components/Navigator";

import "splitpanes/dist/splitpanes.css";

export default {
  components: { Splitpanes, Pane, Graph, CiDetails, Navigator }
};
</script>

<style>
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.splitpanes__pane {
  display: flex;
  flex-direction: column;
}
.navigator {
  flex-grow: 1;
  overflow-y: auto;
  /*background: lightpink;*/
}
.props {
  flex-grow: 1;
  overflow-y: auto;
  /*background: lightblue;*/
}
.graph {
  flex-grow: 1;
  /*background: lightgreen;*/
}
.footer {
  /*background: lightgray;*/
  height: 1.3em;
}
</style>
