<template>
  <div>
    <div class="container">
      <b-form @submit.prevent="showGraph" class="col-md-7 offset-md-3">
        <b-form-group
          label-for="name"
          label="Start CI name"
          label-cols="4"
          label-size="sm"
        >
          <b-form-input
            id="name"
            type="text"
            size="sm"
            name="name"
            :value="startName"
            readonly
          />
        </b-form-group>

        <b-form-group
          label-for="type"
          label="Start CI class"
          label-cols="4"
          label-size="sm"
        >
          <b-form-input
            id="type"
            type="text"
            size="sm"
            name="type"
            :value="startClass"
            readonly
          />
        </b-form-group>

        <b-form-group
          label-for="depth"
          label="Depth"
          label-cols="4"
          label-size="sm"
        >
          <b-form-input
            id="depth"
            type="number"
            size="sm"
            name="depth"
            v-model="depth"
          />
        </b-form-group>

        <b-form-group
          label-for="categories"
          label="Categories"
          label-cols="4"
          label-size="sm"
        >
          <b-form-checkbox-group
            id="categories"
            size="sm"
            v-model="selectedCategories"
            :options="categories"
            switches
            stacked
          />
        </b-form-group>

        <b-form-group
          label-for="relationships"
          label="Relationships"
          label-cols="4"
          label-size="sm"
        >
          <b-form-checkbox-group
            id="relationships"
            size="sm"
            v-model="selectedRelationships"
            :options="relationships"
            switches
            stacked
          />
        </b-form-group>

        <b-button type="submit" variant="primary" class="offset-4"
          >Visualize
        </b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
import cmdb from "@/mixins/cmdb.js";
import store from "@/store";

export default {
  name: "Settings",
  mixins: [cmdb],
  data() {
    return {
      startName: "",
      startClass: "",
      depth: 3,
      selectedCategories: [],
      selectedRelationships: [],
      categories: [],
      relationships: []
    };
  },
  methods: {
    fillDetails() {
      const configItemId = this.$route.query.ConfigItemID;
      this.getCiDetails(configItemId)
        .then(data => {
          this.startName = data.name;
          this.startClass = data.className;
        })
        .catch(err => console.error(err));
    },
    fillTypes() {
      this.getCmdbTypes().then(data => {
        this.categories = data.categories.map(category => ({
          text: category,
          value: category
        }));
        this.selectedCategories = data.categories;

        this.relationships = data.relationships.map(relationship => ({
          text: relationship,
          value: relationship
        }));
        this.selectedRelationships = data.relationships;
      });
    },
    showGraph() {
      store.$actions
        .findGraph({
          start: this.$route.query.ConfigItemID,
          depth: this.depth,
          categories: this.selectedCategories,
          relationships: this.selectedRelationships
        })
        .then(() => this.$router.push("graph"));
    }
  },
  created() {
    //const sessionId = this.$route.query.SessionID;
    this.fillDetails();
    this.fillTypes();
  }
};
</script>

<style>
label {
  text-align: left;
}
</style>
